body {
    color: rgb(1, 121, 81);
    background-color: rgba(245, 208, 45, 0.664);
}

.heronav {
    display: flex;
    justify-content: space-evenly;
}
.heroref {
    border: 10px black groove;
}
.herofoot {
    border: 5px rgb(158, 11, 11);
    border-style: dashed;
    display: inline-block;
    
}