section {
    min-height: 25vh;
}
body {
    color: rgb(1, 121, 81);
    background-image: linear-gradient(rgb(245, 208, 45), rgba(245, 45, 218));
}
header {
    position: sticky;
    top: 0;
}  

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.heroref {
    border: 10px black groove;
    background-color: rgb(231, 183, 120);
    font-family: "Audiowide";
    padding: 15px;
    border-radius: 30%;
}
.herofoot {
    border: 5px rgb(158, 11, 11);
    border-style: dashed;
    display: inline-block;
    padding: 30px;
    border-radius: 50%;
}
.hero {
    font-family: "Audiowide"
}
.heromeg {
    font-family: "Monoton";
}
.heroprosjekt {
    display: flex;
    flex-direction: column;
}

img {
    width: 20%;
}

.resizeimg {
    resize: both;
    overflow: auto;
    width: 100%;
}

.resize {
    resize: both;
    overflow: auto;
    border: 1px solid pink;
    width: 20%;
}

h1, h2 {
    text-align: center;
}



